In [1]:
# Based on: https://towardsdatascience.com/8-visualizations-with-python-to-handle-multiple-time-series-data-19b5b2e66dd0

In [2]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

In [3]:
df = pd.read_csv('Measurement_summary.csv')
df.head()

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0

In [4]:
list_add = list(df['Address'])
District = [i.split(', ')[2] for i in list_add]
df['District'] = District

In [5]:
list_district = list(set(District))

In [6]:
list_district

['Yongsan-gu',
 'Dongdaemun-gu',
 'Gangbuk-gu',
 'Seongbuk-gu',
 'Gwanak-gu',
 'Gangdong-gu',
 'Guro-gu',
 'Gwangjin-gu',
 'Yangcheon-gu',
 'Jung-gu',
 'Nowon-gu',
 'Seocho-gu',
 'Jongno-gu',
 'Yeongdeungpo-gu',
 'Dongjak-gu',
 'Dobong-gu',
 'Gangseo-gu',
 'Mapo-gu',
 'Seodaemun-gu',
 'Gangnam-gu',
 'Seongdong-gu',
 'Songpa-gu',
 'Jungnang-gu',
 'Geumcheon-gu',
 'Eunpyeong-gu']

In [7]:
list_YM = [i.split(" ")[0][:-3] for i in  list(df['Measurement date'])]
list_Year = [i.split(" ")[0][0:4] for i in  list(df['Measurement date'])]
list_Month = [i.split(" ")[0][5:7] for i in  list(df['Measurement date'])]

df['YM'] = list_YM
df['Year'] = list_Year
df['Month'] = list_Month

In [8]:
df.head()

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5,District,YM,Year,Month
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.059,0.002,1.2,73.0,57.0,Jongno-gu,2017-01,2017,01
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.058,0.002,1.2,71.0,59.0,Jongno-gu,2017-01,2017,01
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,59.0,Jongno-gu,2017-01,2017,01
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.004,0.056,0.002,1.2,70.0,58.0,Jongno-gu,2017-01,2017,01
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008,0.003,0.051,0.002,1.2,69.0,61.0,Jongno-gu,2017-01,2017,01

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647511 entries, 0 to 647510
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Measurement date  647511 non-null  object
 1   Station code      647511 non-null  int64
 2   Address           647511 non-null  object
 3   Latitude          647511 non-null  float64
 4   Longitude         647511 non-null  float64
 5   SO2               647511 non-null  float64
 6   NO2               647511 non-null  float64
 7   O3                647511 non-null  float64
 8   CO                647511 non-null  float64
 9   PM10              647511 non-null  float64
 10  PM2.5             647511 non-null  float64
 11  District          647511 non-null  object
 12  YM                647511 non-null  object
 13  Year              647511 non-null  object
 14  Month             647511 non-null  object
dtypes: float64(8), int64(1), object(6)
memory usage: 74.1+ MB

#### Kleine Exkursion, wie GROUPBY funktioniert

In [10]:
data = pd.DataFrame({'x1':[3, 5, 1, 2, 5, 7, 2, 8],     # Create pandas DataFrame
                     'x2':range(1, 9),
                     'group1':['A', 'B', 'A', 'C', 'A', 'C', 'B', 'A'],
                     'group2':['a', 'a', 'a', 'a', 'b', 'b', 'b', 'b']})
print(data)

   x1  x2 group1 group2
0   3   1      A      a
1   5   2      B      a
2   1   3      A      a
3   2   4      C      a
4   5   5      A      b
5   7   6      C      b
6   2   7      B      b
7   8   8      A      b

In [11]:
data_group = data.groupby(['group1', 'group2']).mean()  # Get mean by group
print(data_group)                                       # Print aggregated data

                x1   x2
group1 group2
A      a       2.0  2.0
       b       6.5  6.5
B      a       5.0  2.0
       b       2.0  7.0
C      a       2.0  4.0
       b       7.0  6.0

In [12]:
data_group_new = data_group.reset_index()               # Reset index of grouped data
print(data_group_new)

  group1 group2   x1   x2
0      A      a  2.0  2.0
1      A      b  6.5  6.5
2      B      a  5.0  2.0
3      B      b  2.0  7.0
4      C      a  2.0  4.0
5      C      b  7.0  6.0

In [13]:
df_monthly = df.groupby(['Station code', 'District', 'YM', 'Year', 'Month'])[['SO2', 'NO2', 'O3', 'CO', 'PM10', 'PM2.5']].mean()
df_monthly

                                                  SO2       NO2        O3
Station code District    YM      Year Month
101          Jongno-gu   2017-01 2017 01     0.004401  0.037481  0.014972  \
                         2017-02 2017 02    -0.022152  0.010290 -0.008138
                         2017-03 2017 03     0.005015  0.041267  0.026862
                         2017-04 2017 04     0.003308  0.034699  0.033512
                         2017-05 2017 05     0.003461  0.031724  0.039319
...                                               ...       ...       ...
125          Gangdong-gu 2019-08 2019 08     0.005264  0.017182  0.026261
                         2019-09 2019 09    -0.010603  0.005673  0.010133
                         2019-10 2019 10     0.003179  0.024047  0.018567
                         2019-11 2019 11     0.003303  0.035814  0.011037
                         2019-12 2019 12     0.003443  0.036359  0.009333

                                                   CO       PM10      PM2.5
Station code District    YM      Year Month
101          Jongno-gu   2017-01 2017 01     0.695968  51.024194  35.118280
                         2017-02 2017 02     0.600000  41.970238  28.857143
                         2017-03 2017 03     0.698118  55.146505  40.311828
                         2017-04 2017 04     0.598056  50.769444  26.536111
                         2017-05 2017 05     0.490591  55.129032  22.680108
...                                               ...        ...        ...
125          Gangdong-gu 2019-08 2019 08     0.599189  24.952703  19.087838
                         2019-09 2019 09     0.367791  20.604294  12.699387
                         2019-10 2019 10     0.432392  35.092742  17.689516
                         2019-11 2019 11     0.567083  49.201389  23.179167
                         2019-12 2019 12     0.666257  49.051913  39.494536

[900 rows x 6 columns]

In [14]:
df_monthly = df.groupby(['Station code', 'District', 'YM', 'Year', 'Month'])[['SO2', 'NO2', 'O3', 'CO', 'PM10', 'PM2.5']].mean().reset_index()
df_monthly

,Station code,District,YM,Year,Month,SO2,NO2,O3,CO,PM10,PM2.5
0,101,Jongno-gu,2017-01,2017,01,0.004401,0.037481,0.014972,0.695968,51.024194,35.118280
1,101,Jongno-gu,2017-02,2017,02,-0.022152,0.010290,-0.008138,0.600000,41.970238,28.857143
2,101,Jongno-gu,2017-03,2017,03,0.005015,0.041267,0.026862,0.698118,55.146505,40.311828
3,101,Jongno-gu,2017-04,2017,04,0.003308,0.034699,0.033512,0.598056,50.769444,26.536111
4,101,Jongno-gu,2017-05,2017,05,0.003461,0.031724,0.039319,0.490591,55.129032,22.680108
...,...,...,...,...,...,...,...,...,...,...,...
895,125,Gangdong-gu,2019-08,2019,08,0.005264,0.017182,0.026261,0.599189,24.952703,19.087838
896,125,Gangdong-gu,2019-09,2019,09,-0.010603,0.005673,0.010133,0.367791,20.604294,12.699387
897,125,Gangdong-gu,2019-10,2019,10,0.003179,0.024047,0.018567,0.432392,35.092742,17.689516
898,125,Gangdong-gu,2019-11,2019,11,0.003303,0.035814,0.011037,0.567083,49.201389,23.179167
899,125,Gangdong-gu,2019-12,2019,12,0.003443,0.036359,0.009333,0.666257,49.051913,39.494536

In [15]:
# Set the renderer to 'notebook'
pio.renderers.default = 'iframe'

In [16]:
# Farbpaletten in Plotly
fig = px.colors.qualitative.swatches()
fig.show()

In [17]:
pal = px.colors.qualitative.Dark24
print(type(pal))

<class 'list'>

#### Graph 1: line chart

In [18]:
fig = go.Figure()
for d,p in zip(list_district, pal):
    fig.add_trace(go.Scatter(x = df_monthly[df_monthly['District']==d]['YM'],
                             y = df_monthly[df_monthly['District']==d]['PM2.5'],
                             name = d,
                             line_color = p, 
                             fill=None))  #tozeroy 
            
fig.show()

In [19]:
fig = go.Figure()
for d,p in zip(list_district, pal):
    fig.add_trace(go.Scatter(x = df_monthly[df_monthly['District']==d]['YM'],
                             y = df_monthly[df_monthly['District']==d]['PM2.5'],
                             name = d,
                             line_color = p, 
                             fill='tozeroy'))  #tozeroy 
            
fig.show()

#### Graph 3: Facet Grid

In [20]:
fig = px.line(df_monthly, y="SO2", x="YM", facet_col="District", facet_col_wrap=4)
fig.show()

In [21]:
fig = px.bar(df_monthly, x="District", y="PM2.5", facet_col="Year", facet_row="Month", facet_col_wrap=4, height=2000, width=1000)
fig.show()

#### Graph 4: Heat map

In [22]:
df_pivot = pd.pivot_table(df_monthly,
                          values='PM2.5',
                          index='District',
                          columns='YM')
df_pivot

YM,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
District,,,,,,,,,,,,,,,,,,,,,
Dobong-gu,29.938172,26.101190,33.245968,24.245833,25.389785,24.570833,23.674731,12.673387,17.268056,14.159946,...,55.300766,18.795549,41.342898,28.261111,22.337483,25.601648,26.211656,20.478495,22.380556,28.894809
Dongdaemun-gu,32.892473,27.238095,32.967742,22.276389,20.774194,19.733333,18.737903,11.646505,17.954167,14.250000,...,49.373563,16.368567,23.486370,16.206944,17.882434,16.701351,5.029141,3.223118,18.748611,27.607923
Dongjak-gu,34.952957,29.187500,37.931452,26.590278,23.169355,22.398611,23.310484,13.271505,20.622222,14.750000,...,53.065134,19.164117,26.606887,18.375000,20.756570,18.861644,11.150307,15.267473,23.637500,32.411202
Eunpyeong-gu,29.771505,23.595238,34.607527,24.941667,24.189516,24.125000,22.129032,12.572581,18.712500,14.106183,...,46.705545,24.499305,29.926829,23.079167,18.219917,17.824897,12.380368,15.455645,17.930556,23.964481
Gangbuk-gu,31.387097,26.311012,33.530914,23.969444,21.713710,19.647222,21.142473,10.440860,14.944444,12.534946,...,48.159004,16.389430,25.091822,16.687500,18.677732,16.542582,11.670245,17.536290,20.952778,31.173497
Gangdong-gu,33.797043,30.922619,42.892473,27.000000,19.787634,19.504167,18.595430,10.498656,15.556944,12.981183,...,50.542146,19.477051,27.668580,18.529167,19.156293,19.087838,12.699387,17.689516,23.179167,39.494536
Gangnam-gu,31.529570,28.763393,43.662634,24.643056,23.193548,22.076389,23.450269,12.126344,17.863889,15.145161,...,54.191571,19.324061,26.741750,16.805556,17.944675,15.898649,8.274540,16.293011,20.120833,28.166667
Gangseo-gu,31.284946,27.037202,35.482527,24.338889,23.581989,22.508333,21.232527,13.684140,22.069444,18.051075,...,52.208413,19.152990,26.460545,18.179167,21.027663,19.367072,13.357362,17.668011,23.962500,27.913934
Geumcheon-gu,33.009409,29.656250,42.028226,29.568056,23.959677,22.655556,23.217742,13.178763,19.681944,15.272849,...,50.526820,22.385257,28.734577,19.497222,17.432918,16.335135,11.828221,15.133065,20.475000,31.133880
Guro-gu,32.073925,27.866071,37.030914,24.809722,23.934140,20.711111,22.491935,14.822581,21.916667,16.013441,...,55.898467,36.006954,43.263989,41.645833,24.554633,22.634615,27.260736,32.930108,33.056944,48.062842
Gwanak-gu,33.987903,30.019345,40.537634,27.131944,26.430108,28.643056,28.569892,13.268817,18.269444,13.620968,...,59.845124,32.543811,34.374462,30.459722,27.640387,13.612162,-0.759202,4.818548,21.138889,27.722678
Gwangjin-gu,37.256720,31.625000,43.793011,25.106944,22.399194,19.297222,19.384409,10.048387,16.383333,15.676075,...,57.226054,30.403338,43.393113,35.019444,27.163209,31.802740,21.837423,24.943548,30.547222,39.066940
Jongno-gu,35.118280,28.857143,40.311828,26.536111,22.680108,20.816667,21.071237,10.704301,18.275000,15.213710,...,44.726054,17.823366,22.510760,16.198611,18.329184,17.438596,12.849693,17.341398,20.720833,32.225410
Jung-gu,34.412634,29.040179,38.438172,26.338889,22.388441,21.002778,22.373656,12.717742,19.286111,15.797043,...,44.862069,17.105702,23.358680,15.726389,18.182573,16.128205,11.170245,14.764785,19.666667,31.315574
Jungnang-gu,35.631720,30.569940,36.215054,26.213889,27.256720,26.390278,22.908602,11.575269,17.533333,13.108871,...,48.623327,18.018081,26.873745,18.302778,16.697095,14.995951,4.509202,3.227151,17.354167,20.583333
Mapo-gu,37.018817,31.367560,48.217742,32.873611,27.326613,24.658333,24.786290,14.928763,20.665278,17.256720,...,54.367113,36.955494,47.539455,35.202778,35.160443,27.155405,9.929448,4.735215,20.963889,28.803279
Nowon-gu,34.849462,29.255952,37.908602,27.211111,24.817204,22.395833,21.856183,12.235215,18.780556,16.955645,...,51.185824,19.442281,26.746055,18.393056,19.670816,17.808367,11.947853,17.279570,22.391667,31.984973
Seocho-gu,27.225806,26.691964,43.901882,26.954167,23.889785,19.502778,18.497312,11.432796,16.975000,14.286290,...,67.053640,29.877608,40.536585,28.766667,31.852006,23.882591,53.710123,25.790323,31.480556,38.887978
Seodaemun-gu,29.327957,25.398810,37.103495,27.843056,27.051075,23.875000,23.504032,14.131720,20.243056,14.430108,...,54.624521,22.688456,31.331420,22.313889,17.044260,13.064738,7.009202,12.791667,14.751389,20.833333
Seongbuk-gu,29.119624,28.212798,44.689516,26.654167,26.701613,23.544444,23.923387,12.962366,21.236111,16.818548,...,41.239006,17.776078,29.856528,39.745833,58.533887,47.258108,10.093558,13.409946,17.022222,28.661202
Seongdong-gu,31.702957,28.007440,46.716398,26.840278,27.298387,21.600000,19.731183,11.971774,17.331944,14.202957,...,58.208812,26.525730,29.562410,22.815278,25.502075,11.601100,16.733129,15.619624,22.190278,26.922131
Songpa-gu,29.946237,30.062500,40.967742,23.377778,25.647849,19.581944,18.838710,10.614247,16.698611,13.657258,...,49.550669,23.732962,32.954089,25.419444,20.088520,13.222973,11.814417,17.520161,29.358333,22.579235
Yangcheon-gu,31.306452,32.212798,44.301075,30.987500,29.048387,27.773611,28.364247,15.911290,22.575000,18.842742,...,53.735632,20.082058,26.919656,18.047222,20.243430,18.333784,12.920245,16.896505,23.173611,32.090164
Yeongdeungpo-gu,32.244624,28.255952,38.521505,23.958333,21.095430,21.173611,21.051075,12.848118,18.479167,14.243280,...,67.839388,36.013908,39.896700,34.250000,26.489627,18.965706,55.782209,18.521505,34.606944,30.080601
Yongsan-gu,33.338710,27.373512,35.255376,25.413889,24.024194,23.187500,24.006720,14.127688,17.622222,14.719086,...,50.978927,16.942976,25.827834,16.065278,19.932227,17.583784,10.840491,14.244624,18.072222,29.407104

In [23]:
heatmap_trace=go.Heatmap(z=df_pivot)
fig = go.Figure(data=[heatmap_trace])
fig.show()

In [24]:
import pandas as pd
import plotly.graph_objects as go

# Create a DataFrame with the matrix data
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12],
    'D': [13, 14, 15, 16]
}
df = pd.DataFrame(data)

# Create a trace for the heatmap
heatmap_trace = go.Heatmap(z=df)

# Create the layout
layout = go.Layout(title='Matrix Heatmap')

# Create the figure
fig = go.Figure(data=[heatmap_trace], layout=layout)

# Display the figure
fig.show()